.photos-container {
    // padding: 0 var(--size-margin-60);
    margin: var(--size-main-margin) auto;
    >.photos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: var(--size-margin-20);
        transition: transform .4s cubic-bezier(1,.07,1,.9);
    }
}

@media screen and (max-width: 600px) {
    .photos-container {
        padding: 0;
        >.photos {
            flex-direction: column;
            align-items: center;
        }
    }
}