.home {
    padding: 0 var(--size-margin-50);
    header {
        margin-bottom: var(--size-margin-20);
        h1 {
            margin-top: -40px;
        }
    }
}

@media screen and (max-width: 600px) {
    .home {
        padding: 0 var(--size-margin-20);
        header {
            h1 {
                margin-top: -20px;
            }
        }
    }
}