.home {
    padding: 0 var(--size-margin-50);
    >.landing {
        min-height: 100vh;
        position: relative;
        header {
            margin-bottom: var(--size-margin-20);
            h1 {
                margin-top: -40px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .home {
        padding: 0 var(--size-margin-20);
        >.landing {
            min-height: unset;
            header {
                h1 {
                    margin-top: -20px;
                }
            }
        }
    }
}