.footer {
    padding: var(--size-margin-30);
    font-size: 1rem;
    >.balimoon {
        margin-top: -10px;
    }
    >.underline {
        border-bottom: solid 1px var(--fg);
        width: 3rem;
        margin: 5px auto;
    }
}