:root {
    --bg: #e3e4e8;
    --fg: #282c34;
    --fg-transparent: rgba(40,44,52, .8);
    --yellow: #edc041;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {	
    :root {
        // --bg: #282c34;
        // --fg: #e3e4e8;
    }
}