.map-of-paros {
    svg {
        height: 65vh;
        width: unset;
        .map-marker {
            stroke-width:0.264583px;
        }
        .number {
            font-size:14.1455px;
        }
        .location-name {
            font-size:10.5833px;
        }
    }
}

@media screen and (max-width: 600px) {
    .map-of-paros {
        svg {
            height: unset;
            width: 88vw;
        }
    }
}